In [1]:
#Install these packages
!pip install newspaper3k
!pip install nltk
!pip install pandas

Requirement already satisfied: newspaper3k in /anaconda/envs/py37_default/lib/python3.7/site-packages (0.2.8)
Requirement already satisfied: Pillow>=3.3.0 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (7.0.0)
Requirement already satisfied: PyYAML>=3.11 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (5.3.1)
Requirement already satisfied: beautifulsoup4>=4.4.1 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (4.9.0)
Requirement already satisfied: cssselect>=0.9.2 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (1.1.0)
Requirement already satisfied: requests>=2.10.0 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (2.22.0)
Requirement already satisfied: tinysegmenter==0.3 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (0.3)
Requirement already satisfied: jieba3k>=0.35.1 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (0.35.1)
Requirement already satisfied: python-dateutil>=2.5.3 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (2.8.1)
Requirement already satisfied: nltk>=3.2.1 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (3.4.5)
Requirement already satisfied: lxml>=3.6.0 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (4.5.0)
Requirement already satisfied: tldextract>=2.0.1 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (2.2.2)
Requirement already satisfied: feedparser>=5.2.1 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (5.2.1)
Requirement already satisfied: feedfinder2>=0.0.4 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from newspaper3k) (0.0.4)
Requirement already satisfied: soupsieve>1.2 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from beautifulsoup4>=4.4.1->newspaper3k) (2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from requests>=2.10.0->newspaper3k) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from requests>=2.10.0->newspaper3k) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from requests>=2.10.0->newspaper3k) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from requests>=2.10.0->newspaper3k) (2019.11.28)
Requirement already satisfied: six>=1.5 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from python-dateutil>=2.5.3->newspaper3k) (1.14.0)
Requirement already satisfied: setuptools in /anaconda/envs/py37_default/lib/python3.7/site-packages (from tldextract>=2.0.1->newspaper3k) (45.1.0.post20200127)
Requirement already satisfied: requests-file>=1.4 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from tldextract>=2.0.1->newspaper3k) (1.5.0)
Requirement already satisfied: nltk in /anaconda/envs/py37_default/lib/python3.7/site-packages (3.4.5)
Requirement already satisfied: six in /anaconda/envs/py37_default/lib/python3.7/site-packages (from nltk) (1.14.0)
Requirement already satisfied: pandas in /anaconda/envs/py37_default/lib/python3.7/site-packages (1.0.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: six>=1.5 in /anaconda/envs/py37_default/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [1]:
#Import the packages
import newspaper
from newspaper import Article
import nltk
import pandas as pd

In [2]:
#Download punkt package of nltk library
nltk.download('punkt')

[nltk_data] Downloading package punkt to /home/anonymous/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
#LIST OF ALL THE NEWS WEBSITES TO BE CRAWLED

newspaperlist=['https://timesofindia.indiatimes.com','https://www.ndtv.com'
,'https://indianexpress.com'
,'https://www.thehindu.com'
,'https://www.news18.com'
,'https://www.firstpost.com'
,'https://www.business-standard.com'
,'https://www.dnaindia.com'
,'https://www.deccanchronicle.com' 
,'https://scroll.in' 
,'https://www.financialexpress.com' 
,'https://www.thehindubusinessline.com' 
,'https://www.outlookindia.com' 
,'https://www.thequint.com' 
,'https://www.freepressjournal.in/' 
,'https://news.abplive.com'
,'https://www.hindustantimes.com' 
,'https://www.altnews.in'
,'http://www.bloombergquint.com'
,'https://thewire.in' 
,'https://theprint.in'
,'http://www.vccircle.com' 
,'https://www.moneycontrol.com' 
,'https://www.livemint.com' 
,'https://www.businesstoday.in' 
,'https://www.cnbctv18.com' 
,'https://auto.economictimes.indiatimes.com' 
,'https://economictimes.indiatimes.com' 
,'https://mumbaimirror.indiatimes.com' 
,'https://www.timesnownews.com/business-economy' 
,'https://www.deccanherald.com' 
,'https://swarajyamag.com' 
,'https://news.abplive.com' 
,'https://www.ndtv.com/business' 
,'https://www.moneylife.in/' 
,'https://www.thehindubusinessline.com' 
,'https://www.tribuneindia.com' 
]

In [ ]:
#EMPTY DICTIONARY TO STORE CRAWLED DATA
df = {'url':[],'title':[],'body':[],'summary':[]}
#SCRIPT TO CRAWL THROUGH ALL THE NEWS WEBSITES:

for link in newspaperlist:
	paper=newspaper.build(link)
	size=paper.size()
	print(size)
	for article in paper.articles:
		try:
			article.download()
			article.parse()
		except Exception as e:
			print(e)
			print("continuing...")
			continue
		article.nlp()
		df['url'].append(article.url)
		df['title'].append(article.title)
		df['body'].append(article.text)
		df['summary'].append(article.summary)
	df1=pd.DataFrame(df)
	df2=pd.read_csv('file.csv')
	result = df2.append(df1, ignore_index=True, sort=False)
	result.to_csv('file.csv',index=False) 
	print("Articles added for {}".format(paper.brand))
	df = {'url':[],'title':[],'body':[],'summary':[]}

7
Articles added for indiatimes
86
Articles added for ndtv
26
Articles added for indianexpress
0
Articles added for thehindu
124
Articles added for news18
31
Articles added for firstpost
29
Articles added for business-standard
7
Articles added for dnaindia
561

/anaconda/envs/py37_default/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname IST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

Article `download()` failed with 404 Client Error: Not Found for url: https://www.deccanchronicle.com/404.html on URL https://www.deccanchronicle.com/gallery/sports/020320/vanquished-virats-boys-trudge-back-to-the-pavilion.html
continuing...
Article `download()` failed with HTTPSConnectionPool(host='www.deccanchronicle.com', port=443): Read timed out. (read timeout=7) on URL https://www.deccanchronicle.com/technology/mobiles-and-tabs/220220/tcl-working-on-a-slide-out-foldable-smartphone-pictures-inside.html
continuing...
Article `download()` failed with HTTPSConnectionPool(host='www.deccanchronicle.com', port=443): Read timed out. (read timeout=7) on URL https://www.deccanchronicle.com/technology/mobiles-and-tabs/290220/vivo-releases-apex-2020-concept-phone-with-edgeless-display-gimbal-ca.html
continuing...
Article `download()` failed with HTTPSConnectionPool(host='www.deccanchronicle.com', port=443): Read timed out. (read timeout=7) on URL https://www.deccanchronicle.com/technology/mobiles-and-tabs/250320/download-now-ios-134-update-fixes-several-bugs-on-iphone-ipad.html
continuing...
Articles added for deccanchronicle
26
Articles added for scroll
138
Article `download()` failed with HTTPSConnectionPool(host='www.expressindia.com', port=443): Max retries exceeded with url: /news/expressgroup/ (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1076)'))) on URL https://www.expressindia.com/news/expressgroup/
continuing...
Articles added for financialexpress
11
Articles added for thehindubusinessline
145
Articles added for outlookindia
612

In [5]:
df=pd.read_csv('file.csv')

In [6]:
len(df)

63720

In [7]:
df.describe()

,url,title,body,summary
count,63720,63710,57636,57636
unique,33613,31471,24134,23509
top,https://food.ndtv.com/lists/10-best-recipes-fr...,"Business News, Economic News, Market News, Sha...","CNN name, logo and all associated elements ® a...","CNN name, logo and all associated elements ® a..."
freq,20,116,4510,4510